MONGODB_URI=mongodb://127.0.0.1:27017/medkit
SESSION_SECRET=12345678901234567890123456789012
APP_USERNAME=admin
APP_PASSWORD=password

MONGODB_DB_NAME=MediTrack
MONGODB_DEBUG=true
MONGODB_SERVER_SELECTION_TIMEOUT_MS=15000
MONGODB_CONNECT_TIMEOUT_MS=15000
MONGODB_SOCKET_TIMEOUT_MS=20000


MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1

